body {
  background: url("https://t4.ftcdn.net/jpg/00/91/52/67/240_F_91526732_CjnRIHFpmV9CTtorbG1Ci9zRrMPCp0Bs.jpg");
}
h1 {
  color: purple;
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 45px;
}
h2 {
  font-size: 24px;
  color: purple;
  font-weight: bold;
}
.box1 {
  padding: 6px;
  background-color: #e4d0ed;
  border: 2px solid black;
}
.box1 li {
  font-style: italic;
  font-weight: bolder;
  text-align: left;
}
.rm {
  height: 450px;
  width: auto;
  float: left;
  padding-right: 30px;
}
.ttl {
  font-size: 20px;
  font-weight: bolder;
  color: purple;
}
h3 {
  color: purple;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 2px 2px black;
}
p {
  color: purple;
  font-size: 20px;
  font-weight: bolder;
}
#h3{
  text-align: center;
}
ol {
  color: purple;
  font-weight: bolder;
  font-size: 16px;
}
ol {
  color: purple;
}
#p {
  text-shadow: 1px 1px black;
}
li a {
  color: white;
}
.linktxt {
  font-size: 16px;
  font-weight: bolder;
}
.sea {
  font-family: fantasy;
}
