h1 {
  color: #edc7e5;
  text-align: right;

}
h2 {
  font-size: 20px;
}
.rm {
  height: 300px;
  width: auto;
  float: left;
  padding-right: 20px;
}
body {
  background-color: #6d195b;
}
.am {
  color: #ea85d5;
}
.bg {
  color: #ea64ce;
}
.hi {
  color: #ed3dc8;
}
